{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="container w-50 mt-4">
    <h1>{{ controller_name }}</h1>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4 my-4">
            {{ form_row(form.username, {'label' : "Pseudo", 'attr' : {
                'placeholder' : "Sasuke01"
            }}) }}
        </div>
        <div class="col-md-4 my-4">
            {{ form_row(form.firstname, {'label' : "Prenom", 'attr' : {
                'placeholder' : "Jean"
            }}) }}
        </div>
        <div class="col-md-4 my-4">
            {{ form_row(form.lastname, {'label' : "Nom", 'attr' : {
                'placeholder' : "Martin"
            }}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 my-4">
            {{ form_row(form.email, {'label' : "E-mail", 'attr' : {
                'placeholder' : "adresse@email.fr"
            }}) }}
        </div>
        <div class="col-md-12 my-4">
            {{ form_row(form.password, {'label' : "Mot de passe", 'attr' : {
                'placeholder' : "Le mot de passe"
            }}) }}
        </div>
        <div class="col-md-12 my-4">
            {{ form_row(form.passwordConfirm, {'label' : "Confirmation du mot de passe", 'attr' : {
                'placeholder' : "Caput Draconis"
            }}) }}
        </div>
    </div>
        <button type="submit" class="btn btn-success mt-4">S'inscrire</button>
    {{ form_end(form) }}
</div>
{% endblock %}
