{% extends "base.html.twig" %}

{% block title %}Accueil - Mon blog{% endblock %}

{% block body %}
    <h1 class="mb-4 text-center">Bienvenue sur mon blog</h1>
    <div class="row">
        <div class="col-md-8">
           <div class="row">
            {% for article in articles %}
                <div class="card col-md-6 m-2" style="width: 16rem;">
                    <p class="date text-end">Ecrit le {{article.createdAt | date("m/d/Y") }} a {{article.createdAt | date("H:i")}}</p>
                    <img class="card-img-top" src="/assets/blog/images/article/{{ article.image }}" alt="{{ article.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <a href="{{ path('show', {'id':article.id})}}" class="btn btn-primary">En savoir plus</a>
                        <p class="text-end">Par {{article.author}}</p>
                    </div>
                </div>
            {% endfor %}
           </div>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Categories</h2>
                <ul class="list-group">
            {% for category in categories %}
                <a href="{{ path('category', {'id':category.id})}}"
                    <li class="list-group-item">
                        <div class="row">
                            <span class="col-md-8">{{ category.title }}</span>
                            <span class="col-md-4 btn-primary rounded text-center">{{ category.getArticles.count() }} Article(s)</span>
                        </div>
                    </li>
                </a>
            {% endfor %}
                </ul>
    </div>
{% endblock %}
