{% extends "base.html.twig" %}

{% block title %}
    Page Article - {{article.id }} 
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="mt-4">{{ article.title }}</h1>
        <div class="img-fuild d-flex justify-content-center m-5">
            <img width="250px" src="/assets/blog/images/article/{{ article.image }}" alt="{{ article.title }}">
        </div>
        <p class="date text-end">
            Ecrit le {{article.createdAt | date("m/d/Y") }} a {{article.createdAt | date("H:i")}}
        </p>
        <p class="content text-justify">
            {{ article.content | raw}}
        </p>
    </div>
{% endblock %}