<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		<link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/bundles/font-awesome.min.css">


		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="navbarText">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<div class="col-md-6">
									<a class="navbar-brand" href="/">Blog</a>
									<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
										<span class="navbar-toggler-icon"></span>
									</button>
								</div>
							</li>
						</ul>
						<span class="navbar-text">
							<div class="d-flex align-items-center">
								{% if app.user %}
									<span class="color-white mx-4">Bienvenue
										{{app.user.username}}</span>
									<a href="{{ path("security_logout")}}" class="btn btn-success">Deconnxion</a>
								{% else %}
									<a href="{{ path("security_register")}}" class="btn btn-success mx-4">Inscription</a>
									<a href="{{ path("security_login")}}" class="btn btn-success">Connexion</a>
								{% endif %}
							</div>
						</span>
					</div>
				</nav>
			</header>
			<div class="container">
                {% block body %}{% endblock %}
			</div>
		</body>
	</html>
